name: Release Package at npmjs

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: read

jobs:
  npm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '24'
        registry-url: 'https://registry.npmjs.org'
    - name: Install, build and test
      run: |
        npm ci
        npm run build --if-present
        npm test
    - name: Publish to npm
      run: npm publish --provenance --access=public
